
.icon-comments:before { content: '\e800'; } /* '' */
.icon-upvote:before { content: '\e801'; } /* '' */
.icon-target:before { content: '\e802'; } /* '' */
.icon-spin5:before { content: '\e803'; } /* '' */
.icon-precise:before { content: '\e837'; } /* '' */
.icon-embedding:before { content: '\e838'; } /* '' */
.icon-official:before { content: '\e839'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */