# compiled output
dist

# dependencies
node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
npm-debug.log

.nx/cache
.nx/workspace-data

vite.config.*.timestamp*
vitest.config.*.timestamp*