.btn {
    height: 45px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 40px;
    line-height: 32px;
}

.btn-secondary {
    background: $brand-secondary;
    color: #fff;

    &:hover,
    &:focus {
        background: $brand-primary;
        color: #fff;
    }
}

.btn-small {
    height: 32px;
    padding: 3px 16px;
    line-height: 24px;
}

.btn-mobile {
    margin-top: 10px;
}

@include mq($from: 441px) {
    .btn-mobile {
        margin-top: 0;
    }
}

.btn-icon { // Modifier
    padding-left: 8px;
}

.btn-github { // Modifier
    &:before {
        @include fontello('\f09b');
        position: absolute;
        vertical-align: sub;
        margin: 0 10px 0 0;
        font-size: 2em;
        line-height: 1;
    }
}

.btn-github span {
    padding-left: 45px;
}

.btn-inverted {
    background: #fff;
    color: $brand-primary;
}
