.faq-link {
    display: flex;
    padding: 24px 0;

    &:focus,
    &:hover {
        text-decoration: none;
    }
}

.faq-content {
    flex-grow: 1;
}

.faq-heading {
    margin: 0;
    font-size: $font-size-medium;
}

.faq-date {
    color: $text-color;
}

.faq-metas {
    color: $brand-primary;
    white-space: nowrap;
}

.faq-comments { // Modifier
    &:before {
        @include fontello('\e800');
    }
}

.faq-upvotes { // Modifier
    &:before {
        @include fontello('\e801');
    }
}

.faq-meta {
    white-space: nowrap;

    & + & {
        margin: 0 0 0 10px;
    }

    &:before {
        margin: 0 12px 0 0;
    }
}

@include mq($from: tablet) {
    .faq-link {
        align-items: center;
    }

    .faq-metas {
        font-size: $font-size-medium;
    }

    .faq-meta:before {
        font-size: $font-size-large;
    }
}
