.list {
    margin: 0 -20px;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
}

.list-item {
    padding: 0 20px;
}

.list-link {
    display: block;
    padding: 12px 0;
    margin-top: -1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #fff;
    transition: background 0.3s linear, padding 0.3s linear;

    &:focus,
    &:hover {
        padding: 12px;
        text-decoration: none;
        background: #fff;
        color: $brand-secondary;
    }
}

@include mq($from: tablet) {
    .list {
        display: flex;
    }

    .list-item {
        width: percentage(1/3);
    }
}
