.markdown {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 1.25;
    }

    h1 {
        padding-bottom: 0.3em;
        border-bottom: 1px solid #eaecef;
        font-size: 2em;
    }

    h2 {
        padding-bottom: 0.3em;
        border-bottom: 1px solid #eaecef;
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.25em;
    }

    p,
    blockquote,
    ul,
    ol,
    dl,
    table,
    pre {
        margin-top: 0;
        margin-bottom: 16px;
    }

    ul,
    ol {
        padding-left: 2em;
    }

    pre {
        padding: 16px;
        overflow: auto;
        border-radius: 3px;
        font-size: 85%;
        line-height: 1.45;
        background-color: #f6f8fa;

        code {
            display: inline;
            max-width: auto;
            padding: 0;
            margin: 0;
            border: 0;
            overflow: visible;
            line-height: inherit;
            word-wrap: normal;
            background-color: rgba(0, 0, 0, 0);
        }
    }
}
