{% extends "partials/_layout.twig" %}

{% block content %}
    <section class="section section-brand spotlight">
        <div class="container">
            <h1 class="heading spotlight-heading">Dé officiële kaart van Nederland</h1>
            <p class="spotlight-description">De meest actuele kaart nu beschikbaar</p>
            <div class="section-actions">
                <a href="#wizard" class="btn btn-primary">Gebruik NL Maps nu</a>
                <a href="https://github.com/geo-frontend/nlmaps/" target="_blank" class="btn btn-primary btn-icon btn-github"> <span>Bekijk op GitHub</span> </a>
            </div>
        </div>
        <img src="assets/images/map.png" alt="" class="spotlight-map" />
    </section>

    <section class="section">
        <div class="container">
            <ul class="usps">
                <li class="usps-item">
                    <article class="usp usp-precise">
                        <h2 class="heading usp-heading">De meest gedetailleerde kaart van Nederland</h2>
                        <p class="usp-description">Zéér nauwkeurige weergave door middel van actuele topografische gegevens.</p>
                    </article>
                </li>
                <li class="usps-item">
                    <article class="usp usp-official">
                        <h2 class="heading usp-heading">Op basis van officiële overheidsinformatie</h2>
                        <p class="usp-description">Altijd actuele weergave door aanvulling en validatie met de laatste officiële overheids informatie van het Kadaster.</p>
                    </article>
                </li>
                <li class="usps-item">
                    <article class="usp usp-embedding">
                        <h2 class="heading usp-heading">Makkelijk te integreren met tal van services</h2>
                        <p class="usp-description">Ondersteuning voor Google Maps, OpenLayers, Mapbox &amp; Leaflet. Mis je een dienst? <a href="https://forum.pdok.nl/c/applicaties-en-diensten/nl-maps">Laat het ons weten</a> of <a href="https://github.com/geo-frontend/nlmaps/">dien je eigen voorbeeldcode op Github in</a>. Meer weten over NL Maps? Bekijk dan het <a href="https://www.youtube.com/watch?v=5olGQwt29aI">introductieseminar</a>.</p>
                    </article>
                </li>
            </ul>
        </div>
    </section>

    <section class="section section-wizard" id="wizard">
        <div class="container">
            <div class="section-intro">
                <h2 class="heading section-heading">Gebruik NL Maps nu</h2>
                <p>
                    Ben jij een developer? Bekijk de&nbsp;&nbsp;<a href="{{ routes.docs }}" class="btn btn-secondary btn-small">NL Maps Library</a>
                </p>
            </div>
            <div class="nlmaps-tools">
                <div class="wizard tab">
                    <form class="js-wizard-form">
                        <ol class="wizard-steps">
                            <li class="wizard-step">
                                <span class="wizard-step-heading">Kies een library<span class="wizard-step-explanation">Let op de gebruiksvoorwaarden en prijzen. NLMaps / Kadaster is hiervoor niet verantwoordelijk.</span> </span>
</span>
                                <div class="wizard-step-content">
                                    <span class="wizard-option">
                                        <input type="radio" value="leaflet" name="service" id="service-leaflet"  />
                                        <label for="service-leaflet">Leaflet</label>
                                    </span>
                                    <span class="wizard-option">
                                        <input type="radio" value="google-maps" name="service" id="service-google-maps" />
                                        <label for="service-google-maps">Google Maps</label>
                                    </span>
                                    <span class="wizard-option">
                                        <input type="radio" value="mapbox" name="service" id="service-mapbox" />
                                        <label for="service-mapbox">Mapbox</label>
                                    </span>
                                    <span class="wizard-option">
                                        <input type="radio" value="open-layers" name="service" id="service-open-layers" checked="checked"/>
                                        <label for="service-open-layers">OpenLayers</label>
                                    </span>
                                </div>
                            </li>
                            <li class="wizard-step">
                                <span class="wizard-step-heading">Kies een referentiekaart</span>
                                <div class="wizard-step-content">
                                    <span class="wizard-option">
                                        <input type="radio" value="default" name="color" id="theme-default" checked="checked" />
                                        <label for="theme-default">standaard</label>
                                    </span>
                                    <span class="wizard-option">
                                        <input type="radio" value="pastel" name="color" id="theme-pastel" />
                                        <label for="theme-pastel">pastel</label>
                                    </span>
                                    <span class="wizard-option">
                                        <input type="radio" value="grey" name="color" id="theme-grey" />
                                        <label for="theme-grey">grijs</label>
                                    </span>
                                    <span class="wizard-option">
                                        <input type="radio" value="air" name="color" id="theme-air" />
                                        <label for="theme-air">luchtfoto</label>
                                    </span>
                                </div>
                            </li>
                            <li class="wizard-step">
                                <span class="wizard-step-heading">Kies een marker <span class="wizard-step-explanation"> De marker wordt automatisch op het midden van de kaart geplaatst. </span> </span>
                                <div class="wizard-step-content">
                                    <span class="wizard-option">
                                        <input type="radio" value="marker-no" name="marker" id="marker-no" checked="checked" />
                                        <label for="marker-no">geen marker</label>
                                    </span>
                                    <span class="wizard-option">
                                        <input type="radio" value="marker-yes" name="marker" id="marker-yes"  />
                                        <label for="marker-yes">marker</label>
                                    </span>
                                </div>
                            </li>
                            <li class="wizard-step">
                                <span class="wizard-step-heading"> Kies kaartgegevens <span class="wizard-step-explanation"> Sommige lagen zijn alleen beschikbaar als de kaart verder is ingezoomd. </span> </span>                       
                                <div class="wizard-step-content">
                                    <span class="wizard-option">
                                        <input type="radio" value="wms-none" name="wms" id="wms-none" checked="checked" />
                                        <label for="wms-none">geen</label>
                                    </span>
                                    <span class="wizard-option">
                                        <input type="radio" value="wms-percelen" name="wms" id="wms-percelen" />
                                        <label for="wms-percelen">percelen</label>
                                    </span>
                                    <span class="wizard-option">
                                        <input type="radio" value="wms-gebouwen" name="wms" id="wms-gebouwen" />
                                        <label for="wms-gebouwen">gebouwen</label>
                                    </span>
                                    <span class="wizard-option">
                                        <input type="radio" value="wms-hoogtebestand" name="wms" id="wms-hoogtebestand" />
                                        <label for="wms-hoogtebestand">hoogte</label>
                                    </span>
                                    <span class="wizard-option">
                                        <input type="radio" value="wms-drone-no-fly-zone" name="wms" id="wms-drone-no-fly-zones" />
                                        <label for="wms-drone-no-fly-zones">drone-no-fly-zones</label>
                                    </span>
                                </div>
                            </li>
                            <li class="wizard-step">
                                <span class="wizard-step-heading">Kies een zoekfunctie </span>
                                <div class="wizard-step-content">
                                    <span class="wizard-option">
                                        <input type="radio" value="geocoder-no" name="geocoder" id="geocoder-no" checked="checked" />
                                        <label for="geocoder-no">geen zoekbalk</label>
                                    </span>
                                    <span class="wizard-option">
                                        <input type="radio" value="geocoder-yes" name="geocoder" id="geocoder-yes"  />
                                        <label for="geocoder-yes">zoekbalk</label>
                                    </span>
                                </div>
                            </li>
                            <li class="wizard-step">
                                <span class="wizard-step-heading">Kopieer de code</span>
                                <div class="wizard-step-content">
                                    <div class="wizard-map js-wizard-map">
                                        <button class="wizard-geo js-get-geo">locatie</button>
                                    </div>
                                    <div class="wizard-code-block">
                                        <button type="button" class="wizard-copy js-copy-code" data-clipboard-target="#map-code">Kopieer code</button>
                                        <pre class="wizard-code" id="map-code"></pre>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </form>
                    <div class="section-actions">
                        <h2 class="heading section-heading">Uitgebreide documentatie?</h2>
                        <p>Bekijk alle mogelijkheden op de NL Maps Github pagina.</p>
                        <a href="https://github.com/geo-frontend/nlmaps/" target="_blank" class="btn btn-primary btn-icon btn-github btn-inverted btn-mobile"> <span>Bekijk op Github</span> </a>
                    </div>
                </div>
                <div class="docs tab">
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container container-narrow">
            <div class="section-intro">
                <h2 class="heading section-heading">Praat mee!</h2>
            </div>
            <ul class="forum js-forum"></ul>
            <div class="section-actions">
                <a href="#" class="btn btn-primary js-forum-link" target="_blank">Alles tonen</a>
            </div>
        </div>
    </section>

    <section class="section section-brand">
        <div class="container">
            <div class="section-intro">
                <h2 class="heading section-heading">Handige links</h2>
            </div>
            <ul class="list">
                <li class="list-item"><a href="https://www.kadaster.nl" target="_blank" class="list-link">Kadaster</a></li>
                <li class="list-item"><a href="https://pdok.nl" target="_blank" class="list-link">PDOK</a></li>
                <li class="list-item"><a href="https://geoforum.nl/" target="_blank" class="list-link">PDOK Forum</a></li>
                <li class="list-item"><a href="https://www.kadaster.nl/nlmaps" target="_blank" class="list-link">Kadaster NL Maps</a></li>
                <li class="list-item"><a href="https://www.pdok.nl/viewer/" target="_blank" class="list-link">PDOK Viewer</a></li>
                <li class="list-item"><a href="https://www.pdok.nl/diensten#PDOK%20Fair%20Use" target="_blank" class="list-link">PDOK fair-use</a></li>
                <li class="list-item"><a href="https://github.com/geo-frontend/nlmaps/" target="_blank" class="list-link">NL Maps op Github</a></li>
                <li class="list-item"><a href="https://www.youtube.com/watch?v=5olGQwt29aI" target="_blank" class="list-link">Introductieseminar</a></li>
                <li class="list-item"><a href="https://github.com/geo-frontend/nlmaps/blob/develop/PRIVACY.md" target="_blank" class="list-link">Privacy</a></li>
            </ul>
        </div>
    </section>
{% endblock %}
