<footer class="footer">
    <div class="container">
        <a href="https://kadaster.nl" class="logo-kadaster">{% embed '../../assets/images/logo-kadaster.svg' %}{% endembed %}</a>
    </div>
</footer>
