<section class="section announcement" >
    <p class="announcement">
        Waar gebruik jij NL Maps voor? Deel jouw ervaring en pak zelf het podium of laat jouw verhaal delen tijdens de
        <a style="color:white;text-decoration:underline;"
            href="https://www.geobasisregistraties.nl/basisregistraties/doorontwikkeling-in-samenhang/dis-online">webinar
            van DiS Geo</a> op 6 april. Neem vrijblijvend contact op via <a
            style="color:white;text-decoration:underline;" href="mailto:DiSGeo@minbzk.nl">DiSGeo@minbzk.nl</a>!
    </p>
</section>
<header class="header">
    <div class="container">
        <span class="logo-nlmaps">{% embed '../../assets/images/logo-nlmaps.svg' %}{% endembed %}</span>
        <a href="https://kadaster.nl" target="_blank" class="logo-kadaster">{% embed
            '../../assets/images/logo-kadaster.svg' %}{% endembed %}</a>
    </div>
</header>