<header class="header">
    <div class="container">
        <span class="logo-nlmaps">{% embed '../../assets/images/logo-nlmaps.svg' %}{% endembed %}</span>
        <a href="https://kadaster.nl" target="_blank" class="logo-kadaster">{% embed '../../assets/images/logo-kadaster.svg' %}{% endembed %}</a>
    </div>
</header>
