// Paths
$base-path:                        './' !default;
$font-path:                        $base-path + 'assets/fonts/' !default;
$image-path:                       $base-path + 'assets/images/' !default;

// Brand
$text-color:                        #333 !default;
$brand-primary:                     #6c62a6 !default;
$brand-secondary:                   #006486 !default;
$brand-tertiary:                    #333 !default;
$link-color:                        $brand-secondary !default;
$line-color:                        #e5e5e5 !default;

// Grid
$grid-gutter-width:                 40px !default;

// Spaces
$space:                             40px !default;

// Breakpoints - matched to bootstrap settings
$screen-xs:                         480px !default;
$screen-sm:                         768px !default;
$screen-md:                         992px !default;
$screen-lg:                         1200px !default;

$mq-breakpoints: (
    mobile:  $screen-xs,
    tablet:  $screen-sm,
    desktop: $screen-md,
    wide:    $screen-lg
);

// Typography
$font-size-small:                   14px !default;
$font-size-base:                    16px !default;
$font-size-medium:                  20px !default;
$font-size-large:                   24px !default;
$font-size-largest:                 32px !default;
$line-height-base:                  1.5 !default;
$font-family-sans-serif:            'Nunito', sans-serif !default;
$font-family-brand:                 'Montserrat', $font-family-sans-serif !default;

$font-size-h1:                      $font-size-largest !default;
$font-size-h2:                      $font-size-large !default;
$font-size-h3:                      $font-size-medium !default;

$headings-font-family:              $font-family-brand !default;
$headings-font-weight:              700 !default;
$headings-line-height:              1.25 !default;
