// Use to create custom grid with smaller/larger gutters
@mixin resize-gutter($size: 5px) {
    @include make-row($size*2);

    > [class^='col-'] {
        padding-right: $size;
        padding-left: $size;
    }
}

// helper for using fontello icons within css
@mixin fontello($charcode, $includeMargin: true) {
    content: $charcode;
    display: inline-block;
    width: 1em;
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;

    /* Font smoothing. That was taken from TWBS */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    @if ($includeMargin) {
        margin-right: 0.2em;
        margin-left: 0.2em;
    }
}
