{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "array-bracket-spacing": ["error", "never"],
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs"],
    "camelcase": "error",
    "consistent-this": "error",
    "curly": ["error", "multi-line"],
    "dot-notation": "error",
    "eol-last": "error",
    "eqeqeq": "error",
    "keyword-spacing": "error",
    "no-console": ["warn", {
      "allow": ["warn", "error"]
    }],
    "no-duplicate-imports": "warn",
    "no-else-return": "error",
    "no-extra-bind": "error",
    "no-floating-decimal": "error",
    "no-invalid-this": "error",
    "no-lonely-if": "error",
    "no-magic-numbers": ["warn", {
      "ignore": [0, 1, 2, 10, 100],
      "ignoreArrayIndexes": true
    }],
    "no-multi-spaces": "error",
    "no-proto": "error",
    "no-spaced-func": "error",
    "no-trailing-spaces": "error",
    "no-useless-call": "error",
    "no-whitespace-before-property": "error",
    "quotes": ["error", "single"],
    "radix": ["error", "as-needed"],
    "semi": ["error", "always"],
    "semi-spacing": "error",
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", "never"],
    "space-infix-ops": "error",
    "spaced-comment": "error",
    "valid-jsdoc": ["error", {
      "requireReturn": false,
      "requireParamDescription": false,
      "requireReturnDescription": false
    }],
    "yoda": ["error", "never"]
  }
}
