{
    "extends": "stylelint-config-standard",
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "at-rule-empty-line-before": ["always", {
            "except": ["first-nested", "blockless-after-blockless"],
            "ignore": ["after-comment"]
        }],
        "at-rule-name-space-after": "always",
        "at-rule-no-unknown": [true, {
            "ignoreAtRules": ["each", "error", "extend", "for", "if", "include", "mixin", "warn", "content"]
        }],
        "block-closing-brace-newline-before": "always",
        "block-no-empty": true,
        "block-opening-brace-newline-after": "always",
        "block-opening-brace-newline-before": "always-single-line",
        "color-named": "never",
        "custom-property-empty-line-before": "never",
        "declaration-block-no-duplicate-properties": [true, {
            "ignore": ["consecutive-duplicates"]
        }],
        "declaration-block-semicolon-newline-after": "always",
        "declaration-block-semicolon-newline-before": "never-multi-line",
        "declaration-colon-newline-after": null,
        "declaration-colon-space-after": "always",
        "declaration-empty-line-before": "never",
        "font-family-name-quotes": "always-unless-keyword",
        "function-parentheses-newline-inside": "never-multi-line",
        "function-url-quotes": "always",
        "indentation": null,
        "max-nesting-depth": 4,
        "media-query-list-comma-newline-after": "never-multi-line",
        "media-query-list-comma-newline-before": "never-multi-line",
        "media-query-list-comma-space-after": "always",
        "no-duplicate-selectors": true,
        "number-max-precision": 3,
        "order/properties-order": [
            [
                "content",
                "position",
                "z-index",
                {
                    "order": "flexible",
                    "properties": ["top", "right", "bottom", "left"]
                },
                "display",
                "float",
                "clear",
                "box-sizing",
                {
                    "order": "flexible",
                    "properties": ["flex", "order", "justify-content", "align-items", "align-content", "align-self"]
                },
                {
                    "order": "flexible",
                    "properties": ["table", "vertical-align"]
                },
                "width", "min-width", "max-width",
                "height", "min-height", "max-height",
                {
                    "order": "flexible",
                    "properties": ["padding", "margin"]
                },
                "border",
                "overflow",
                "transform"
            ],
            {
                "unspecified": "bottom"
            }
        ],
        "rule-empty-line-before": ["always", {
            "except": ["first-nested"],
            "ignore": ["after-comment"]
        }],
        "selector-attribute-quotes": "always",
        "selector-list-comma-newline-before": "never-multi-line",
        "selector-list-comma-space-after": "always-single-line",
        "selector-max-compound-selectors": 4,
        "selector-max-specificity": "0,4,2",
        "selector-pseudo-element-colon-notation": "single",
        "string-quotes": "single",
        "value-keyword-case": ["lower", {
            "ignoreKeywords": ["/(rotate|scale|skew|translate)(X|Y|Z)(.*)/"]
        }],
        "value-list-comma-newline-after": "always-multi-line",
        "value-list-comma-newline-before": "never-multi-line"
    }
}
